@model IEnumerable<_540GPWorkingBuild.Models.Sale>

@{
    ViewBag.Title = "Sales";
}

<h2>Sales Main Menu</h2>
<br />
<p><a href="~/Sales/NewSale" class="btn btn-info">Create New Sale</a></p>
<p><a href="~/Sales/ReturnLookup" class="btn btn-info">Return a Sale</a></p>
<p><a href="~/Sales/TransactionLookup" class="btn btn-info">Transaction Lookups</a></p>