@model _540GPWorkingBuild.Models.PurchaseOrder

@{
    ViewBag.Title = "Purchase Order Home";
}

<h2>Purchase Orders</h2>
<br />
<p><a href="~/PurchaseOrders/Create" class="btn btn-info">Create new purchase order</a></p>
<p><a href="~/PurchaseOrders/Search" class="btn btn-info">Search purchase orders</a></p>
<p><a href="~/PurchaseOrders/Index" class="btn btn-info">View all purchase orders</a></p>
<p><a href="~/Inventories/Index" class="btn btn-primary">Return to Inventory Main Menu</a></p>
