
@{
    ViewBag.Title = "AdminView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome, @ViewBag.UserName</h2>
<p><b>Sample Admin Landing Page</b></p>
<blockquote>
    Music Store Toolkit is built from a software suite designed to aid small to mid-size businesses in managing sales interactions
    for their unique customer base. This package is capable of conducting
    sales transactions, supporting inventory management and customer organization.
</blockquote>
<h4>Software Design</h4>
<ul>
    <li>Customer management</li>
    <ul>
        <li>View, add, delete, and edit customers</li>
        <li>Access historical reports based on customer’s purchase history</li>
    </ul>
    <li>Inventory management</li>
    <ul>
        <li>View, add delete, and edit products</li>
        <li>Keep track of inventory in real-time</li>
    </ul>
    <li>Transaction managment</li>
    <ul>
        <li>Process new orders</li>
        <li>Manage current orders</li>
        <li>View previously fulfilled orders</li>
    </ul>
    <li>Employee Permissions</li>
    <ul>
        <li>High level employees can be given all-access to data permissions allowing them to edit, and delete</li>
        <li>Low level employees can be given limited access to data permissions allowing them to view data but not add, edit, or delete anything</li>
        <li>Session Variables</li>
    </ul>
</ul>
<p><b>Reference Mockups/SRS for a list of full functionality</b></p>