@{
    Layout = "~/Views/Shared/_LayoutLogout.cshtml";
}

@{
    ViewBag.Title = "Logout";
}

<h2>Signed Out</h2>
<p>You have been successfully logged out of your account.</p>
<br />
<div class="smallPadding"><strong>To log back in:</strong></div>
<a href="~/Home/Login" class="button"><span>Click Here</span></a>