<!--
***DONE*** GMEEKS 11/29
-->
@model IEnumerable<_540GPWorkingBuild.Models.Inventory>

@{
                /**/

                ViewBag.Title = "Inventory";
}

<h2>Inventory Main Menu</h2>
<br/>
<p><a href="~/Categories/Index" class="btn btn-info">Categories</a></p>
<p><a href="~/Inventories/Products" class="btn btn-info">Product Management</a></p>
<p><a href="~/PurchaseOrders/PurchaseOrderHome" class="btn btn-info">Purchase Orders</a></p>

