
@{
    ViewBag.Title = "Products";
}

<h2>Product Management</h2>

<p><a href="~/Inventories/Create" class="btn btn-info">Add new Products</a></p>
<p><a href="~/Inventories/ViewProducts" class="btn btn-info">View all Products</a></p>
<p><a href="~/Inventories/Search" class="btn btn-info">Search for Products</a></p>
<p><a href="~/Inventories/Index" class="btn btn-primary">Return to Inventory Main Menu</a></p>