
@{
    ViewBag.Title = "CreateRedirect";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Address Entry</h2>
<br/>
<p>Where would you like to add the new address entry?</p>
<p><a href="~/Customers/Create" class="btn btn-info">Customer</a></p>
<p><a href="~/Employees/Create" class="btn btn-info">Employee</a></p>

